[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Madamiru
Comment=Dynamic multi-multimedia player
Exec=madamiru
Icon=com.mtkennerly.madamiru
Terminal=false
Categories=AudioVideo;
Keywords=video;videos;play;shuffle;grid;
